body {
    background-color: aliceblue;
     
}
.intro {
    text-align: left;
   

}
#intop {
    text-align: left;
    font-size: 30pt;
    font-style: italic;
}
#headings {
    text-align: left;
    font-size: 50pt;
    font-family: 'Pacifico', cursive;
}
.imageholder {
    text-align: right;
    vertical-align: middle;
 
}